<!DOCTYPE html>
<html lang='EN' DIR 'LTR'>
<head>
      <meta http-equiv="Content-Type" content="text.html5" charset="=UTF-8">
       <title>Steward - Create a Safe Space</title>
       <link rel = "stylesheet"
             href = "myStyle.css" />
  </head>
  <body>
       <div id = "topnav">
        <h1><a href=/home>STEWARD</a></h1> 
        <ul>
            <li><a href=/support>SUPPORT</a></li>
            <li><a href=/dashboard>DASHBOARD</a></li>
            <li><a href=/solutions>SOLUTIONS</a></li>
        </ul>
        <div class = "banner">
          <img class = "banner-img" src = "/Hands50Resize.png">
        </div> 
      </div>
      
<p> I would like for this section to be moveable and flexible depending on what the caregiver selects
    to see for their loved one.  I would like to integrate the site with health care providers, devices,
    and in home devices. This would be a password protected pay site with a monthly due. 
</p>
            <div class="row">
                <div class="threecolumn" style="background-color: #8fbc8f;">
                  <h2>Health</h2>
                  <p>I want to integrate feeds from products into this page.  Under this
                      heading would be things like blood pressure from the cuff listed, temperature from
                      a web enabled device, heart rate, blood sugar, respiration, motion/steps, medications.  
                      I would like to keep a record for the patient that can be accessed from the back end and
                      can be directly linked to their health care provider.
                  </p>
                  
                </div>
                <div class="threecolumn" style="background-color:#9fc69f;">
                  <h2>Calendar</h2>
                  <p> I would like to integrate a Google Calendar on this page that is also enabled on the Alexa device
                      to remind the patient and their caregivers of appointments and special dates.  I would like to keep 
                      the grocery list and reminders in this section
                  </p>
                </div> 
                <div class="threecolumn" style="background-color:#afcfaf;">
                  <h2>WebCams</h2>
                   <p>I would like to have webcams and motion detectors feed directly into the dashboard.  The devices
                       would be enabled to send sms notifications to the caregiver's cell phone, but I would like to always
                       have the feed live on the dashboard so the loved one can be viewed as the caregiver sees fit.  
                   </p>
                </div>
              </div>
        </div>

        </body>