<!DOCTYPE html>
<html lang='EN' DIR 'LTR'>
<head>
      <meta http-equiv="Content-Type" content="text.html5" charset="=UTF-8">
       <title>Steward - Create a Safe Space</title>
       <link rel = "stylesheet"
             href = "myStyle.css" />
  </head>
  <body>
       <div id = "topnav">
        <h1><a href=/home>STEWARD</a></h1> 
        <ul>
            <li><a href=/support>SUPPORT</a></li>
            <li><a href=/dashboard>DASHBOARD</a></li>
            <li><a href=/solutions>SOLUTIONS</a></li>
        </ul>
      </div>
      
            <div class="row">
                <div class="threecolumn" >
                  <fieldset>
                  <legend>Glucose</legend>
                  <img class = "column-img" src = "/Glucose.png">
                  </fieldset>
                </div>
                <div class="threecolumn" >
                   <fieldset>
                  <legend>Calendar</legend>
                  <img class = "column-img" src = "/Calendar.png">
                  </fieldset>
                </div>
               <div class="threecolumn" >
                   <fieldset>
                  <legend>Webcam</legend>
                  <img class = "column-img" src = "/Webcam.png">
                  </fieldset>
                </div>
              </div>
        </div>

        </body>