<!DOCTYPE html>
<html lang='EN' DIR 'LTR'>
  <head>
      <meta http-equiv="Content-Type" content="text.html5" charset="=UTF-8">
       <title>Steward - Create a Safe Space</title>
       <link rel = "stylesheet"
             href = "myStyle.css" />
  </head>
  <body>
      <div id = "topnav">
        <h1><a href=/home>STEWARD</a></h1> 
        <ul>
            <li><a href=/support>SUPPORT</a></li>
            <li><a href=/dashboard>DASHBOARD</a></li>
            <li><a href=/solutions>SOLUTIONS</a></li>
        </ul>
        <div class = "banner">
          <img class = "banner-img" src = "/hands50.png">
        </div> 
      </div>

      <div class="centered">
        <div class="twocolumn" style="background-color:#8fbc8f; width: 50%">
          
            <h3>CREATE A SAFE SPACE</h3>
            <H1>So we can ALL sleep better</H1>
            <h4>Allow your loved one to safely remain home longer.  Combine Steward with 
            innovative in-home technological assistance to provide safety and 
            health care for your loved one. </h4>
            <h1>
              <button onclick="myFunction()">START HERE</button>
              <script>
              function myFunction() {
                location.replace("/template")
              }
              </script>
            </h1>
          </div>    
    
        </div>
      </div> 
      
  
  </body>  
</html>
