<!DOCTYPE html>
<html lang='EN' DIR 'LTR'>
  <head>
      <meta http-equiv="Content-Type" content="text.html5" charset="=UTF-8">
       <title>Steward - Create a Safe Space</title>
       <link rel = "stylesheet"
             href = "myStyle.css" />
  </head>
  <body>
      <div id = "topnav">
        <h1><a href=/home>STEWARD</a></h1> 
        <ul>
            <li><a href=/support>SUPPORT</a></li>
            <li><a href=/dashboard>DASHBOARD</a></li>
            <li><a href=/solutions>SOLUTIONS</a></li>
        </ul>
        <div class = "banner">
          <img class = "banner-img" src = "/hands.png">
          
      <div class="hero-text">
        <h3>CREATE A SAFE SPACE</h3>
            <H2>So we can ALL sleep better</H2>
            <h4>Allow your loved one to safely remain home longer.  Combine Steward with 
            innovative in-home technological assistance to provide safety and 
            health care for your loved one. </h4>
              <button onclick="myFunction()">START HERE</button>
              <script>
                function myFunction() {
                location.replace("/template")
              }
              </script>
        
  </div>
</div>
            
   </body>  
</html>
