<!DOCTYPE html>
<html lang='EN' DIR 'LTR'>
 <head>
      <meta http-equiv="Content-Type" content="text.html5" charset="=UTF-8">
       <title>Steward - Create a Safe Space</title>
       <link rel = "stylesheet"
             href = "myStyle.css" />
  </head>
  <body>
      <div id = "banner">
        <h1>
          <a href=/home> 
            <img src = "/public/icon.jpg" alt = "Cupped Hands" height="50" width = "50"> STEWARD
          
        </a>
      </h1> 
      </div>
      <div id = "topnav">
          <ul>
            <li>
              <a href=/support>SUPPORT</a>
               
            </li>
            <li>
                <a href=/dashboard>DASHBOARD</a>
            </li>
            <li>
              <a href=/solutions>SOLUTIONS</a> 
            </li>
          </ul>
      </div>
        <intro>
           <div class=column> 
               <p>Steward is able to integrate technology products to conveniently be able to track movements 
                and healthcare for your loved one without your intervention, allowing them to remain independent
                for as long as possible. Possible solutions are listed below.  Please contact us at xxxx@gmail.com or 
                706-512-9909 for a consult on these or other products that may best solve your unique situation.  We 
                are available for in home consultations as well.  
           
            </p>
        </div>
           
        <div class="row">
            <div class="threecolumn" style="background-color: #8fbc8f;">
              <h2>Safety</h2>
              <ul>
                <li>
                    <a href="https://wewalk.io/en" target="_blank">Smart Cane</a>
                     
                  </li>
                  <li>
                      <a href="https://www.gearbest.com/smart-home-controls/pp_236317.html" target="_blank">Gas Detector</a>
                  </li>
                  
                  <li>
                    <a href="https://herohealth.com/our-product?utm_source=google%20merchant&utm_medium=banner&utm_campaign=google%20merchant%2C%20google%20search&gclid=EAIaIQobChMIspXUkoG26AIVRtyGCh3EiAo-EAQYASABEgILCPD_BwE" target="_blank">Medication Reminder</a>
                </li>
                <li>
                  <a href="https://www.vivehealth.com/products/bed-alarm?variant=12226313650211&gclid=EAIaIQobChMIu9v93pi26AIVC2KGCh1gRwSKEAQYAyABEgKDHfD_BwE" target="_blank">Bed Alert</a>
              </li>
              <li>
                    <a href="https://www.apple.com/watch/" target="_blank">Fall Alert</a>
                </li>
            </ul>    
            </div>
            <div class="threecolumn" style="background-color:#9fc69f;">
              <h2>Convenience</h2>
              <ul>
                <li>
                    <a href="https://canary.is/" target="_blank">Monitoring System</a>
                     
                  </li>
                  <li>
                      <a href="https://www.amazon.com/All-new-Echo-Show-2nd-Gen/dp/B077SXWSRP" target="_blank">Virtual Assistant</a>
                      
                    </li>
                  <li>
                    <a href="https://www.amazon.com/Vaupan-Control-Devices-Required-Certified/dp/B07TTPCRDV/ref=sr_1_37_sspa?keywords=tuya+smart+plug&qid=1585158730&rnid=2941120011&s=hi&sr=1-37-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExSEw5TkpIMlRBQjc0JmVuY3J5cHRlZElkPUEwMTYxMTg1M1UwUENHNFFKMUxIUCZlbmNyeXB0ZWRBZElkPUEwMTEyOTY0VU03UE1STlcyV1cxJndpZGdldE5hbWU9c3BfbXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==" target="_blank">Automatic plug ins</a> 
                  </li>
                  <li>
                    <a href="https://www.amazon.com/Emerson-Thermostat-Touchscreen-Display-Certified/dp/B07CKJQYDW?ref_=ast_sto_dp&th=1&psc=1" target="_blank">Automatic Thermostat</a>
                </li>
                <li>
                  <a href="https://www.bestbuy.com/site/ring-smart-lighting-floodlight-battery-powered-black/6322654.p?skuId=6322654&ref=212&loc=1&ref=212&loc=1&ds_rl=1266837&ds_rl=1268709&ds_rl=1268652&gclid=EAIaIQobChMI45_I_5a26AIVUNyGCh1VMQHzEAQYAiABEgJ32fD_BwE&gclsrc=aw.ds" target="_blank">Outdoor Motion Lights</a>
              </li>
            </ul>   
            </div>
            <div class="threecolumn" style="background-color:#afcfaf;">
              <h2>Monitoring</h2>
              <ul>
                <li>
                    <a href="https://www.amazon.com/Wasserstein-Smart-Motion-Sensor-Smartphone/dp/B07SG24HZ6" target="_blank">Motion Detector</a>
                     
                  </li>
                  <li>
                      <a href="https://shop.ring.com/pages/security-cameras" target="_blank">Smart Doorbells</a>
                  </li>
                  <li>
                    <a href="https://omronhealthcare.com/products/heartguide-wearable-blood-pressure-monitor-bp8000m/" target="_blank">Blood Pressure Tracking</a> 
                  </li>
                  <li>
                    <a href="https://www.freestylelibre.us/" target="_blank">Blood Sugar Monitor</a>
                </li>
                <li>
                  <a href="https://www.thetileapp.com/en-us/store/tiles/mate?utm_campaign=830750117&utm_source=google&utm_medium=cpc&utm_content=341462935164&utm_term=tile-e&adgroup=45437686794&&gclid=EAIaIQobChMIj5WhtJq26AIVBmyGCh0odAwGEAAYASAAEgJ6A_D_BwE&gclsrc=aw.ds" target="_blank">Tracking outside of home</a>
              </li>
            </ul>   
            </div>
          </div>
        </intro>
        </body>