 <!DOCTYPE html>
 <meta charset="utf-8"/>


<head>
    
    <title>Steward - Create a Safe Space</title>
    <link rel = "stylesheet"
          href = "myStyle.css" />
    <script>
        function Selection(){

            var choice = document.getElementsByName('choiceOne');
            var val = "None selected";
        var forget = ["Virtual Assistant, Medication Alert, Tracking Outside of Home, Smart Plugs" , "Smart Cane, Bed Alert, Webcams, Alexa", "Heart Rate Monitor, Blood Sugar Alert, Blood Pressure Monitor, Temperature Report", "Motion Detectors, Smart Doorbells, Virtual Assistant, Outdoor Motion Lights"];
        

            for (var i=0; i < choice.length; i++) {
                currentChoice = choice[i];
                if ( currentChoice.checked ) { // radio checked?
                    val = currentChoice.value; // if so, hold its value in val
                    break; // and break out of for loop
                }
            }
                 
            var output = document.getElementById("output");         
            var response = "You selected " + val + " \n";
            output.innerHTML = response;
            var output2 = document.getElementById("output2");

            var response2 = "<h2>These items may help you:</h2> \n";
            output2.innerHTML = response2 + forget[i];

        }

    </script>
</head>

<body>
    
 <div id = "topnav">
        <h1><a href=/home>STEWARD</a></h1> 
        <ul>
            <li><a href=/support>SUPPORT</a></li>
            <li><a href=/dashboard>DASHBOARD</a></li>
            <li><a href=/solutions>SOLUTIONS</a></li>
        </ul>
     
       
      <fieldset style="margin-top: 100px">
      <legend>Concern</legend>
      <div id="threecolumn" >
    
       <p><H2>Please select your primary concern for your loved one: </H2></p>
          <input type="radio" name="choiceOne" value="Forgetfulness" />Forgetfulness<br>
          <input type="radio" name="choiceOne" value="Fall Hazard" />Fall Hazard<br>
          <input type="radio" name="choiceOne" value="Physical Health" />Physical Health<br>
          <input type="radio" name="choiceOne" value="Peace Of Mind" />Peace Of Mind<br>
          <button onclick = "Selection();"> Submit </button>
          <p></p>
       <div id = "output"></div>
       <div id = "output2"></div>
    </div>
    </div>
    </fieldset>

    <div class="row" style=>
            <div class="threecolumn" style="background-color: #F8F9F9;">
              <ul>
                <li>
                <a href="https://wewalk.io/en" target="_blank">Smart Cane</a>
                </li>
                  <li>
                  <a href="https://www.gearbest.com/smart-home-controls/pp_236317.html" target="_blank">Gas Detector</a>
                  </li>
                  <li>
                  <a href="https://herohealth.com/our-product?utm_source=google%20merchant&utm_medium=banner&utm_campaign=google%20merchant%2C%20google%20search&gclid=EAIaIQobChMIspXUkoG26AIVRtyGCh3EiAo-EAQYASABEgILCPD_BwE" target="_blank">Medication Alert</a>
                </li>
                <li>
                  <a href="https://www.vivehealth.com/products/bed-alarm?variant=12226313650211&gclid=EAIaIQobChMIu9v93pi26AIVC2KGCh1gRwSKEAQYAyABEgKDHfD_BwE" target="_blank">Bed Alert</a>
              </li>
              <li>
                    <a href="https://www.apple.com/watch/" target="_blank">Fall Alert</a>
                </li>
            </ul>    
            </div>
            <div class="threecolumn" style="background-color:#F4F6F6;">
              <ul>
                <li>
                    <a href="https://canary.is/" target="_blank">Monitoring System</a>
                     
                  </li>
                  <li>
                      <a href="https://www.amazon.com/All-new-Echo-Show-2nd-Gen/dp/B077SXWSRP" target="_blank">Virtual Assistant</a>
                      
                    </li>
                  <li>
                    <a href="https://www.amazon.com/Vaupan-Control-Devices-Required-Certified/dp/B07TTPCRDV/ref=sr_1_37_sspa?keywords=tuya+smart+plug&qid=1585158730&rnid=2941120011&s=hi&sr=1-37-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExSEw5TkpIMlRBQjc0JmVuY3J5cHRlZElkPUEwMTYxMTg1M1UwUENHNFFKMUxIUCZlbmNyeXB0ZWRBZElkPUEwMTEyOTY0VU03UE1STlcyV1cxJndpZGdldE5hbWU9c3BfbXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==" target="_blank">Automatic plug ins</a> 
                  </li>
                  <li>
                    <a href="https://www.amazon.com/Emerson-Thermostat-Touchscreen-Display-Certified/dp/B07CKJQYDW?ref_=ast_sto_dp&th=1&psc=1" target="_blank">Automatic Thermostat</a>
                </li>
                <li>
                  <a href="https://www.bestbuy.com/site/ring-smart-lighting-floodlight-battery-powered-black/6322654.p?skuId=6322654&ref=212&loc=1&ref=212&loc=1&ds_rl=1266837&ds_rl=1268709&ds_rl=1268652&gclid=EAIaIQobChMI45_I_5a26AIVUNyGCh1VMQHzEAQYAiABEgJ32fD_BwE&gclsrc=aw.ds" target="_blank">Outdoor Motion Lights</a>
              </li>
            </ul>   
            </div>
            <div class="threecolumn" style="background-color:#F2F4F4;">
              <ul>
                <li>
                    <a href="https://www.amazon.com/Wasserstein-Smart-Motion-Sensor-Smartphone/dp/B07SG24HZ6" target="_blank">Motion Detector</a>
                     
                  </li>
                  <li>
                      <a href="https://shop.ring.com/pages/security-cameras" target="_blank">Smart Doorbells</a>
                  </li>
                  <li>
                    <a href="https://omronhealthcare.com/products/heartguide-wearable-blood-pressure-monitor-bp8000m/" target="_blank">Blood Pressure Tracking</a> 
                  </li>
                  <li>
                    <a href="https://www.freestylelibre.us/" target="_blank">Blood Sugar Alert</a>
                </li>
                <li>
                  <a href="https://www.thetileapp.com/en-us/store/tiles/mate?utm_campaign=830750117&utm_source=google&utm_medium=cpc&utm_content=341462935164&utm_term=tile-e&adgroup=45437686794&&gclid=EAIaIQobChMIj5WhtJq26AIVBmyGCh0odAwGEAAYASAAEgJ6A_D_BwE&gclsrc=aw.ds" target="_blank">Tracking outside of home</a>
              </li>
            </ul>   
            </div>
          </div>
         
</body>
 </html>
    




