<!DOCTYPE html>
<html lang='EN' DIR 'LTR'>
  <head>
      <meta http-equiv="Content-Type" content="text.html5" charset="=UTF-8">
       <title>Steward - Create a Safe Space</title>
       <head>
        <meta http-equiv="Content-Type" content="text.html5" charset="=UTF-8">
         <title>Steward - Create a Safe Space</title>
         <link rel = "stylesheet"
               href = "myStyle.css" />
    </head>
    <body>
        <div id = "topnav">
        <h1><a href=/home>STEWARD</a></h1> 
        <ul>
            <li><a href=/support>CONSULTATION</a></li>
            <li><a href=/dashboard>DASHBOARD</a></li>
            <li><a href=/solutions>SOLUTIONS</a></li>
        </ul>
        <div class = "banner">
          <img class = "banner-img" src = "/hands.png"> 
          <div class="hero-text">
            <fieldset style="margin-top: 150px">
                <form action="/actionPage" method="POST">
                   
                  <label for="fname">Please fill in your information to request a consultation.</label><br>
                  <input type="fname" id="fname" name="fName" placeholder="First Name"><br><br>
               
                  <input type="email" id="email" name="email" placeholder="Email Address:"><br><br>
                
                  <input type="tel" id="Phone" name="Phone" placeholder="Phone Number"><br><br>
                  <label for="subject">Reason for contact</label><br>
                  <textarea id="subject" name="subject" placeholder="Reason for contact.." style="height:200px"></textarea>
                  <br>
                  <button> submit </button>
                </form>
                </fieldset>
                </div>
        </div> 
        </div>
        
  
        
        </body>