 <!DOCTYPE html>
 <meta charset="utf-8"/>


<head>
    
    <title>Steward - Create a Safe Space</title>
    <link rel = "stylesheet"
          href = "myStyle.css" />
    <script>
        function Selection(){

            var choice = document.getElementsByName('choiceOne');
            var val = "None selected";
        var forget = ["Alexa, Medication Alert,Photo Screen, Smart Plugs" , "Smart Cane, Bed Alert, Webcams, Alexa", "Heart Rate Monitor, Blood Sugar Alert, Blood Pressure Monitor, Temperature Report", "Motion Detectors, Door Cameras, Alexa, Security lights"];
        

            for (var i=0; i < choice.length; i++) {
                currentChoice = choice[i];
                if ( currentChoice.checked ) { // radio checked?
                    val = currentChoice.value; // if so, hold its value in val
                    break; // and break out of for loop
                }
            }
                 
            var output = document.getElementById("output");         
            var response = "You selected " + val + " \n";
            output.innerHTML = response;
            var output2 = document.getElementById("output2");

            var response2 = "<h2>These items may help you:</h2> \n";
            output2.innerHTML = response2 + forget[i];

        }

    </script>
</head>

<body>
    
 <div id = "topnav">
        <h1><a href=/home>STEWARD</a></h1> 
        <ul>
            <li><a href=/support>SUPPORT</a></li>
            <li><a href=/dashboard>DASHBOARD</a></li>
            <li><a href=/solutions>SOLUTIONS</a></li>
        </ul>
 
    
      <fieldset style="margin-top: 100px">
      <legend>Concern</legend>
      <div id="threecolumn">
    
       <p><H2>Please select your primary concern for your loved one: </H2></p>
          <input type="radio" name="choiceOne" value="Forgetfulness" />Forgetfulness<br>
          <input type="radio" name="choiceOne" value="Fall Hazard" />Fall Hazard<br>
          <input type="radio" name="choiceOne" value="Physical Health" />Physical Health<br>
          <input type="radio" name="choiceOne" value="Peace Of Mind" />Peace Of Mind<br>
          <button onclick = "Selection();"> Submit </button>
          <p></p>
       <div id = "output"></div>
       <div id = "output2"></div>
    </div>
    </div>
    </fieldset>
</body>
 </html>
    




